@{
    ViewBag.Title = "Transcripts";
    Layout = null;

    var regionlist = ViewBag.regionList;
    var sexlist = ViewBag.Sexlist;
    var citylist = ViewBag.Citylist;
    var villagelist = ViewBag.Villagelist;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<form>
    <h1>請輸入使用者資料</h1>
</form>


@*<div class="form-group">
    <label>學號: </label>
    <label>@Model.id</label>
</div>
<div class="form-group">
    <label>姓名: </label>
    <label>@Model.name</label>
</div>
<div class="form-group">
    <label>分數: </label>
    <label>@Model.score</label>
</div>*@